footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .columns.block.columns-3-cols > div > div:first-child > span{
  width: unset;
  height: 50px;
} 

footer .columns.block.columns-3-cols > div > div:last-child{
  font-size: 16px;
  text-align: end;
} 